*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
.container{
    display: flex;
    border: 2px solid black;
    height: 220px;
    margin:20px auto;
    padding: 10px;
    width: 90%;
    gap :10px;
}
.row{
    flex-direction: row;
    justify-content:space-around ;
    align-items: center;
}
.column{
   flex-direction: column; 
   justify-content: center;
   align-items:start ;
}
.wrap{
    flex-direction: row;
    flex-wrap: wrap;               
    justify-content: center;
    align-content: space-evenly;  
}
.reverse{
    flex-flow: row-reverse nowrap; 
    justify-content: end;
    align-items: center; 
   
}
.item {
    width: 80px;
    height: 80px;
    background: steelblue;
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
